* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Estilos del contenedor principal */
.mapa_mesoamerica {
  display: flex;
  flex-direction: column;
}


/* Estilos del cuadro con cifras*/
.cuadro_datos {
  border: none;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
  z-index: 2;
  text-align: center;
}

th {
  border: none;
  font-weight: bold;
  padding: 10px;
  text-align: center; /* Alinear el texto a la izquierda */
  vertical-align: middle;
  width: 25%;
}

th img {
  margin-right: 5px; /* Espaciado entre el icono y el texto */
  width: 10%;
  vertical-align: middle;
}

td {
  border: none;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  width: 25%;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.cuadro_datos table {
  width: 100%;
  table-layout: fixed;
}



/* Estilos del mapa y la información del país */
.mapa_info_wrapper {
  display: flex;
  width: 100%;
}

#vector_mapa {
  width: 60%;
  height: 100%;
}

#vector_mapa path {
  stroke: #fff;
  stroke-width: 0.5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.pais:hover,
.selected {
  fill: #7EB0FF;
  transform: scale(1.05);
  z-index: 2;
  transform-origin: 90% 50%;
}


/* Estilos de información país */
.informacion_pais {
  box-sizing: border-box;
  padding: 20px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.informacion_pais > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; /* Espaciado entre img_dato y dato */
}

.informacion_pais h2 {
  text-align: center;
  font-size: 2em;
}
.informacion_pais img {
  width: 30px;
  height: 30px;
  margin-right: 10px; 
}

.informacion_pais h3 {
  flex: 1; /* Ocupa el espacio disponible restante */
  margin: 0; /* Elimina el margen predeterminado */
  padding-right: 8px;
}


.informacion_pais p {
  margin: 0; /* Elimina el margen predeterminado */
}




