* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Estilos del contenedor principal */
.mapa_mesoamerica {
  display: flex;
  flex-direction: column;
}


/* Estilos del cuadro con cifras*/
.cuadro_datos {
  border: 1px solid #ddd;
  border-collapse: collapse;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
  z-index: 2;
  text-align: center; /* Centrar horizontalmente */
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center; /* Centrar horizontalmente */
  vertical-align: middle; /* Centrar verticalmente */
  width: 25%; /* Dividir en partes iguales el ancho */
}

th {
  background-color: #3498db;
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th, td {
  width: 25%; 
  box-sizing: border-box;
}

.cuadro_datos table {
  width: 100%; /* Ocupar todo el ancho de su contenedor */
  table-layout: fixed; 
}






/* Estilos del mapa*/
#vector_mapa {
  width: 60%;
  height: 100%;
}

#vector_mapa path {
  stroke: #fff;
  stroke-width: 0.5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.pais:hover,
.selected {
  fill: #7EB0FF;
  transform: scale(1.05);
  z-index: 2;
  transform-origin: 90% 50%;
}

